{box-sizing: border-box;}

body{
	display: grid;
	grid-template-areas: "gap logo gap2"
						 "gap nav  gap2"
             "gap images gap2"
						 "gap content1  gap2"
						 "gap content2 gap2"
						 "gap footer  gap2";
	grid-template-columns: 0.5fr 2.5fr 0.5fr;
	grid-gap: 10px;
}

#gap{
	grid-area: gap;
	visibility: hidden;
}

#gap2{
	grid-area: gap2;
	visibility: hidden;
}
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15pt;
}


nav{
  grid-area:nav;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

footer{
	grid-area: footer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}
#images{
  grid-area: images;
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}

.banner{
	grid-area: banner;
}

.logo {
  grid-area: logo;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 58%;
  width: 26%;
}

.gradient {
  height: 1000px;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(
      lightblue, white
    );
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
  ul li {
    display: block;
    position: relative;
    float: left;
    border:1px solid #4B3D37;
  }
  li ul {
    display: none;
  }
  ul li a {
    display: block;
    background: #4B3D37;
    padding: 47px 47px 47px 46px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff; 
    font-size: 30px;
  }
  ul li a:hover {
    background: #E9765D;
  }
  li:hover ul {
    display: block;
     position: absolute;
   }
  li:hover li {
    float: center;
  }
  li:hover a {
    background: #E9765D;
  }
  li:hover li a:hover {
    background: #E9765D;
  }
  li ul li {
    border-top: 0px;
  }


footer{
    background-color: #4B3D37;
    color: #fefefe;
    

}