{box-sizing: border-box;}

body{
  display: grid;
  grid-template-areas: "gap logo gap2"
                       "gap nav  gap2"
                       "gap banner  gap2"
                       "gap content1  gap2"
             "gap footer  gap2";
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  grid-gap: 10px;
}

#gap{
  grid-area: gap;
  visibility: hidden;
}

#gap2{
  grid-area: gap2;
  visibility: hidden;
}
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15pt;
}


nav{
  grid-area:nav;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
footer{
  grid-area: footer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}

.container {
  grid-area:banner;
  background-image: url("images/home.jpg");
  background-repeat:no-repeat;
  background-position: center;
  text-align: center;
  color: black;
  font-size: 25px;
}

.container h2{
  margin-top:5%;
  margin-bottom: 40%;
    margin-left: 242px;
    margin-right: 242px;
  text-align: center;
  background-color: #E9765D;
  opacity: 0.9;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
  nav ul li {
    display: block;
    position: relative;
    float: left;
    border:1px solid #4B3D37;
  }
   nav li ul {
    display: none;
  }
   nav ul li a {
    display: block;
    background: #4B3D37;
    padding: 47px 47px 47px 46px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff; 
    font-size: 30px;
  }
  nav ul li a:hover {
    background: #E9765D;
  }
  nav li:hover ul {
    display: block;
     position: absolute;
   }
  nav li:hover li {
    float: center;
  }
  nav li:hover a {
    background: #E9765D;
  }
  nav li:hover li a:hover {
    background: #E9765D;
  }
  nav li ul li {
    border-top: 0px;
  }
.logo {
  grid-area: logo;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 58%;
  width: 26%;
}


.home {
  
  height: px;
  width: 1035px;
   display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.gradient {

  background-repeat: no-repeat;
  background-image:
    linear-gradient(
      lightblue, white
    );
}


h3 {
  float: center;

}

footer{
    background-color: #4B3D37;
    color: #fefefe;
    font-size: 1rem;

}
